.logoDiagnol{
    text-align: center;
    position:relative;
   background-color: black;
}
.logoGif{
    text-align: center;
}
.logoDiagnol >  .video {
    -webkit-animation: diagonal 2s;
    -moz-animation: diagonal 2s;
    -o-animation: diagonal 2s;
    animation: diagonal 2s;
    }
    
    @-webkit-keyframes diagonal {
        0%       { transform: matrix(1,0,0,1,0,0) }
        100%     { transform: scale(0.1) translatex(-400%) translatey(-5000px) }
    }
    
    @-moz-keyframes diagonal {
        0%       { transform: matrix(1,0,0,1,0,0) }
        100%     {transform: scale(0.1) translatex(-400%) translatey(-5000px) }
    }
    
    @-o-keyframes diagonal {
        0%       { transform: matrix(1,0,0,1,0,0) }
        100%     { transform: scale(0.1) translatex(-400%) translatey(-5000px) }
    }
    
    @keyframes diagonal {
        0%       { transform: matrix(1,0,0,1,0,0) }
        100%     {transform: scale(0.1) translatex(-400%) translatey(-5000px) }
    }


@media screen and (max-width: 500px) {
    .logoGif{
      height: 100vh;
      background-color: black;
    }
    .logoDiagnol{
        height: 100vh;
    }
}